@media (max-width: 1025px) {
	.container {
		inline-size: 1085px;
	}
}

@media (max-width: 768px) {
	.container {
		inline-size: 728px;
	}
}

@media (max-width: 480px) {
	.container {
		inline-size: 440px;
	}

	/* TOP block */
	.top-block__heading {
		margin: 0 0 45px 0;
	}
	/* Cards */
	.dropdown-menu {
		inline-size: 100%;
		padding: 10px 5px;
	}

	.dropdown-menu__input {
		inline-size: 112px;
	}

	.cards__list {
		grid-template-columns: repeat(1, 1fr);
		row-gap: 35px;
	}
}
