.header {
	padding: 8px 0;
	/* background: linear-gradient(180deg, rgba(29, 29, 29, 0.3), transparent); */
}

.header__nav {
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	align-items: center;
}

.header__nav-list {
	display: flex;
	column-gap: 40px;
}

.header__nav-button {
	background: none;
	border: none;
	outline: none;
	display: none;
}

.nav-button__image {
	inline-size: 25px;
}

.header__logo {
	display: block;
	inline-size: 91px;
	justify-self: center;
}

.header__actions-list {
	justify-self: end;
	display: flex;
	column-gap: 12px;
}

.actions-list__item {
	inline-size: 44px;
	block-size: 44px;
	background-color: #f6f6f6;
	align-items: center;
	padding: 12px;
	border-radius: 8px;
}

.actions-list__item:hover {
	background-color: #d4cfd1;
	cursor: pointer;
}

.nav-list__link {
	font-size: 18px;
	cursor: pointer;
}
