@media (max-width: 1025px) {
	.container {
		inline-size: 1085px;
	}
}

@media (max-width: 768px) {
	.container {
		inline-size: 100%;
	}

	.main__content {
		flex-direction: column;
	}
	/* .main__slider-image {
		inline-size: 100%;
	} */

	.main__description {
		inline-size: 100%;
		padding: 0;
	}

	.description-name {
		font-size: 28;
	}
}

@media (max-width: 480px) {
	.container {
		inline-size: 100%;
	}
}
